fastapi
uvicorn
python-multipart
starlette
sqlmodel
SQLAlchemy
pydantic
pydantic[email]
PyJWT
passlib[bcrypt]
bcrypt==3.2.2
spacy
numpy
requests
boto3
botocore
python-dotenv
annotated-types
anyio
typing_extensions
psycopg2-binary
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl